{% load static wagtailuserbar blog_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}{{ site_name }} - {% else %}Welcome{% endif %}
                {% endwith %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="{{ page.search_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% if page.owner %} <meta name="author" content="{{ page.owner }}"/> {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/cookiealert/cookiealert.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/PrologHub.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140394126-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-140394126-1');
        </script>
    </head>

    <body>
        {% wagtailuserbar %}

        <div class="container">

            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                  <div class="col-4 pt-1">
                      <a class="text-muted" href="/updates.atom">RSS Feed</a>
                  </div>
                  <div class="col-4 text-center">
                      <a class="blog-header-logo text-dark" href="/">
                        {% with self.get_site.site_name as site_name %}
                        {% if site_name %}{{ site_name }}{% else %}Welcome{% endif %}
                        {% endwith %}
                      </a>
                  </div>
                  <div class="col-4 d-flex justify-content-end align-items-center">
                    <!--<a class="text-muted" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>-->
                  </div>
                </div>
            </header>
            {% categories %}
      </div>


            {% block content %}{% endblock %}

    <footer class="blog-footer">
        <div class="row flex-nowrap align-items-center">
            <div class="col-4 pt-1">
            <a href="#">Back to top</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="/">
                {% with self.get_site.site_name as site_name %}
                {% if site_name %}{{ site_name }}{% else %}Welcome{% endif %}
                {% endwith %}
                </a>
            </div>
            <div class="col-4 d-flex align-items-center">
                <a class="text-muted" href="mailto:paul@paulbrownmagic.com">Contact PrologHub Admin</a>
            </div>
        </div>
    </footer>

    <div class="alert alert-dismissible text-center cookiealert" role="alert">
	  <div class="cookiealert-container">
	      <b>Do you like cookies?</b> &#x1F36A; We use cookies to anonomously track what our popular posts are so we can keep writing what you want to read.
	      <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
	          I agree
	      </button>
	  </div>
	</div>

    {# Global javascript #}
    <!-- <script type="text/javascript" src="{% static 'js/PrologHub.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'vendor/jquery/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/cookiealert/cookiealert.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

  </body>
</html>
